<!-- 开始页面内容内部 -->
<div class="row">
	<div class="col-md-12 col-sm-12">
		<!-- BEGIN PORTLET-->
		<div class="portlet light ">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-bar-chart theme-font-color hide"></i>
					<span class="caption-subject theme-font-color bold uppercase">关于我们</span>
				</div>
			</div>
			<div class="portlet-body">
				<div class="row">
					<div class="col-md-12">
						<div class="row margin-bottom-20">
							<div class="col-md-6">
								<div class="space20">
								</div>
								<h3 class="form-section">联系方式</h3>
								<p>
									感谢您使用我们的系统，为您们服务是我们的宗旨，如果使用中给您带来不便，还望谅解，如果您有什么问题，可以使用以下的联系方式联系我们，当然您也可以给我们留言，欢迎访问。
								</p>
								<div class="well">
									<h4>地址</h4>
									<address>
										陕西省西安市<br>
										 金花路58号<br>
										 西安理工大学<br>
										<strong>Phone:</strong> (234) 145-1810
									</address>
									<address>
										<strong>Email</strong><br>
										<a href="mailto:#">first.last@email.com</a>
									</address>
									<ul class="social-icons margin-bottom-10">
										<li>
											<a href="javascript:;" data-original-title="facebook" class="facebook">
											</a>
										</li>
										<li>
											<a href="javascript:;" data-original-title="github" class="github">
											</a>
										</li>
										<li>
											<a href="javascript:;" data-original-title="Goole Plus" class="googleplus">
											</a>
										</li>
										<li>
											<a href="javascript:;" data-original-title="linkedin" class="linkedin">
											</a>
										</li>
										<li>
											<a href="javascript:;" data-original-title="rss" class="rss">
											</a>
										</li>
										<li>
											<a href="javascript:;" data-original-title="skype" class="skype">
											</a>
										</li>
										<li>
											<a href="javascript:;" data-original-title="twitter" class="twitter">
											</a>
										</li>
										<li>
											<a href="javascript:;" data-original-title="youtube" class="youtube">
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-6">
								<div class="space20">
								</div>
								<!-- BEGIN FORM-->
								<form action="javascript:;">
									<h3 class="form-section">意见反馈</h3>
									<p>
										这里是留言系统，如果您在使用中遇到了什么问题不能解决，可以在此处给我们留言，我们会在1-3个工作日为您解决问题，当然您也可以直接联系我们的客服电话，如有不便，还望谅解，谢谢！
									</p>
									<div class="form-group">
										<div class="input-icon">
											<i class="fa fa-check"></i>
											<input type="text" class="form-control" placeholder="主体信息">
										</div>
									</div>
									<div class="form-group">
										<div class="input-icon">
											<i class="fa fa-user"></i>
											<input type="text" class="form-control" placeholder="UserName">
										</div>
									</div>
									<div class="form-group">
										<div class="input-icon">
											<i class="fa fa-envelope"></i>
											<input type="password" class="form-control" placeholder="Password">
										</div>
									</div>
									<div class="form-group">
										<textarea class="form-control" rows="3=6" placeholder="反馈信息"></textarea>
									</div>
									<button type="submit" class="btn green">Submit</button>
								</form>
								<!-- END FORM-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END PORTLET-->
	</div>
</div>