<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
</head>
<body>
<!-- 开始导航栏中间可变内容 -->
<!-- 开始页面内容内部 -->
<div class="row">
	<div class="col-md-12 col-sm-12">
		<!-- BEGIN PORTLET-->
		<div class="portlet grey-cascade box">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-cogs"></i>
					<font style="vertical-align: inherit;"><font style="vertical-align: inherit;">他人发布的作业</font></font>
				</div>
				<div class="actions inputs">
					<div class="portlet-input input-small input-inline">
						<div class="input-icon right">
							<i class="icon-magnifier"></i>
							<input type="text" class="form-control form-control-solid" placeholder="search...">
						</div>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-responsive">
					<table id="publishWorkList" class="table table-striped table-bordered table-advance table-hover">
						<!-- 此处由JS填写 -->
					</table>
				</div>
			</div>
		</div>
		<!-- END PORTLET-->
	</div>
</div>
<!-- 结束页面内容内部 -->
<!-- 结束导航栏中间可变内容 -->

<!-- 最后：引入JS -->
<!-- 开始核心插件 -->
<script src="assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- 结束核心插件 -->
<!-- 开始页级插件 -->
<script src="assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
<script src="assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
<script src="assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
<script src="assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
<script src="assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
<script src="assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
<script src="assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
<script src="assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
<script src="assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<!-- 结束页级插件 -->
<!-- 开始页级脚本 -->
<script src="assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="assets/admin/layout4/scripts/layout.js" type="text/javascript"></script>
<script src="assets/admin/layout2/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="assets/admin/layout4/scripts/demo.js" type="text/javascript"></script>
<script src="assets/admin/pages/scripts/index3.js" type="text/javascript"></script>
<script src="assets/admin/pages/scripts/tasks.js" type="text/javascript"></script>
<!-- 结束页级脚本 -->
<!-- 开始自定义JS -->
<script type="text/javascript">
/**
 * function：展示学生公布的作业
 */
function showPublishedWorkList(){
	//1.修改列表
	$.ajax({
        url: '/HomeWorkWeb/work/getPublishWorkSurvey',
        type: 'GET',
        async: false,
        data: {},
        success: function (response) {
        	var course_tr = '<thead><tr><th>作业</th><th>所属课程</th><th>开课老师</th><th>作业评分</th><th>公布人</th><th></th></tr></thead>';
        	for(var i=0; i<response.data.length; i++){
        		course_tr += '<tr><td><a href="javascript:;" class="primary-link">' + response.data[i].作业名 + '</a></td>';
        		course_tr += '<td><a href="javascript:;" class="primary-link">' + response.data[i].所属课程名 + '</a></td>';
        		course_tr += '<td><a href="javascript:;" class="primary-link">' + response.data[i].开课老师 + '</a></td>';
        		course_tr += '<td>' + response.data[i].作业评分 + '</td>';
        		course_tr += '<td><a href="javascript:;" class="primary-link" onclick="studentDetail(\'' + response.data[i].sno + '\')">' + response.data[i].公布人 + '</a></td>';
        		course_tr += '<td><a href="javascript:;" class="primary-link" onclick="lookOnline(\'' + response.data[i].提交作业文件名  + '\')">在线查看</a></td></tr>';
        	}
        	$("#publishWorkList").html(course_tr);
        }
	})
};

/**
 * function:查看学生详细详情
 */
function studentDetail(sno){
	var url = '/HomeWorkWeb/student/studentDetail';
	window.open(encodeURI(url + "?sno=" + sno));
}

/**
 * function:点击在线查看作业
 */
function lookOnline(fileName){
	var url = '/HomeWorkWeb/student/lookStudentWorkOnline';
	window.open(encodeURI(url + "?fileName=" + fileName));
}

/*
 * function:页面加载完成调用
 */
$(document).ready(function () {
	showPublishedWorkList(); //展示学生公布的作业
});
</script>
<!-- 结束自定义JS -->
</body>
</html>