<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>教师端 | 发布作业</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta content="教师端课程页面" name="description" />
    <meta content="xiaoMing" name="author" />
     <!-- END GLOBAL MANDATORY STYLES -->
    <link href="../../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet"
        type="text/css" />
    <link href="../../../assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet"
        type="text/css" />
    <link href="../../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
    <link href="../../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet"
        type="text/css" />
        <link href="../../../assets/global/css/components.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/admin/layout2/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="../../../assets/admin/layout2/css/themes/default.css" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" type="text/css" href="../../../assets/global/plugins/clockface/css/clockface.css" />
    <link rel="stylesheet" type="text/css" href="../../../assets/global/plugins/bootstrap-datepicker/css/datepicker3.css" />        
    <link rel="stylesheet" type="text/css"
            href="../../../assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="../../../assets/global/plugins/bootstrap-colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" type="text/css"
            href="../../../assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <link rel="stylesheet" type="text/css"
            href="../../../assets/global/plugins/bootstrap-datetimepicker/css/datetimepicker.css" />

    <link rel="stylesheet" type="text/css" href="../../../assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />
    <link rel="stylesheet" type="text/css"
        href="../../../assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/global/plugins/bootstrap-summernote/summernote.css">
    <link rel="shortcut icon" href="../../../assets/global/img/webIcon.ico" />
    <style>
        .fileinput-button {
            position: relative;
            display: inline-block;
            overflow: hidden;
        }

        .fileinput-button input {
            position: absolute;
            right: 0px;
            top: 0px;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            font-size: 200px;
        }

        .divider {
            border-left: 1px solid grey;
        }
    </style>
</head>

<body class="page-boxed page-header-fixed page-container-bg-solid page-sidebar-closed-hide-logo ">
    <!-- BEGIN HEADER -->
    <header class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner container">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="#">
                    <img src="../../../assets/admin/layout/img/logo-school.png" alt="logo" class="logo-default"
                        style="height:4em;width: 10em;margin-top: -0.1em;" />
                </a>
                <div class="menu-toggler sidebar-toggler ">
                    <!-- 侧边栏收缩 -->
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN PAGE TOP -->
            <div class="page-top">
                <!-- BEGIN header导航栏 -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <!-- BEGIN 消息提示悬浮框 -->
                        <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                                data-close-others="true">
                                <i class="icon-bell"></i>
                                <span class="badge badge-danger"> 1 </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <ul class="dropdown-menu-list scroller" style="height: 250px;">
                                        <li>
                                            <a href="#">
                                                <span class="label label-sm label-icon label-success">
                                                    <i class="fa fa-plus"></i>
                                                </span>
                                                New user registered.
                                                <span class="time"> Just now </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <!-- END 消息提示悬浮框 -->
                        <!-- BEGIN 用户信息悬浮框 -->
                        <li class="dropdown dropdown-user">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                                data-close-others="true">
                                <img alt="" class="img-circle hide1" src="../../../assets/global/img/user.png" />
                                <span class="username username-hide-on-mobile"> Bob </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="">
                                        <i class="icon-user"></i> My Profile
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- END 用户信息悬浮框 -->
                    </ul>
                </div>
                <!-- END header导航栏 -->
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </header>
    <!-- END HEADER -->
    <div class="clearfix"></div>
    <div class="container">
        <!-- BEGIN 页面主内容容器 -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN 侧边菜单栏 -->
                    <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu" data-auto-scroll="true"
                        data-slide-speed="200">
                        <li class="start ">
                            <a href="index.html">
                                <i class="icon-book-open"></i>
                                <span class="title">课程信息</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-note"></i>
                                <span class="title">发布作业</span>
                                <span class="arrow "></span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="icon-check"></i>
                                <span class="title">批阅作业</span>
                                <span class="arrow "></span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="icon-bubbles"></i>
                                <span class="title">发布公告</span>
                                <span class="arrow "></span>
                            </a>
                        </li>
                        <!-- END 侧边菜单栏 -->
                </div>
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <!-- 主页面内容-->
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-cogs font-green-sharp"></i>
                                <span class="caption-subject font-green-sharp bold uppercase">发布作业</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <form action="#" class="form-horizontal form-row-sepe">
                                <div class="form-group">
                                    <label class="control-label col-md-2"  style="text-align:center;">课程名</label>
                                    <div class="col-md-4">
                                        <select class="form-control input-xlarge select2me" data-placeholder="Select...">
                                            <option value=""></option>
                                            <option value="AL">Alabama</option>
                                            <option value="WY">Wyoming</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2"  style="text-align:center;">开始日期</label>
                                    <div class="col-md-3">
                                        <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                                            <input type="text" class="form-control" readonly>
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="text-align:center;">截止日期</label>
                                    <div class="col-md-3">
                                        <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                                            <input type="text" class="form-control" readonly>
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2"  style="text-align:center;">作业内容</label>
                                        <div class="col-md-9">
                                            <div name="summernote" id="summernote_1">
                                            </div>
                                        </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-10">
                                            <button type="submit" class="btn green"><i class="fa fa-check"></i> 提交</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- END 主页面内容-->
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END 页面主内容容器 -->
        <!-- BEGIN 底部栏 -->
        <div class="page-footer">
            <div class="page-footer-inner">
                2019 &copy; 西安理工大学作业提交系统.
            </div>
        </div>
        <!-- END 底部栏 -->
    </div>
    <script src="../../../assets/global/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="../../../assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js"
        type="text/javascript"></script>
    <script src="../../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"
        type="text/javascript"></script>
    <script src="../../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"
        type="text/javascript"></script>
    <script src="../../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"
        type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS 就是一些页面特有部件的js-->
    <script src="../../../assets/admin/pages/scripts/components-pickers.js"></script>
    <script type="text/javascript"
        src="../../../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
    <script src="../../../assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js"
        type="text/javascript"></script>
    <script src="../../../assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
    <script src="../../../assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="../../../assets/admin/layout2/scripts/layout.js" type="text/javascript"></script>
    <script src="../../../assets/admin/layout2/scripts/demo.js" type="text/javascript"></script>
    <script src="../../../assets/admin/pages/scripts/ui-extended-modals.js"></script>
    <script src="../../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script type="text/javascript"
        src="../../../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript"
        src="../../../assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
     <script type="text/javascript"
        src="../../../assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="../../../assets/global/plugins/clockface/js/clockface.js"></script>
    <script type="text/javascript" src="../../../assets/global/plugins/bootstrap-daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="../../../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript"
        src="../../../assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="../../../assets/admin/pages/scripts/components-pickers.js"></script>
    <script type="text/javascript"
        src="../../../assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" src="../../../assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
        <script type="text/javascript" src="../../../assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
        <script src="../../../assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
        <script src="../../../assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
        <script src="../../../assets/global/plugins/bootstrap-summernote/summernote.min.js" type="text/javascript"></script>
        <script src="../../../assets/admin/pages/scripts/components-editors.js"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            // initiate layout and plugins
            Metronic.init(); //核心组件初始化
            Layout.init(); //布局初始化
            Demo.init(); // init demo features
            UIExtendedModals.init();//模态框函数
            ComponentsPickers.init();//时间选择器初始化函数
            ComponentsEditors.init();//编辑器初始化函数
        });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->

</html>