<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xaut.mapper.CourseMapper">

    <!-- 新增课程 -->
    <insert id="addCourse" parameterType="com.xaut.entity.Course">
    	insert into db_course(cno,tno,cname,year,term,time,place,isclassend,tablename,updatetime,remark1,remark2)
		select #{cno},#{tno},#{cName},#{year},#{term},#{time},#{place},#{isClassEnd},#{tableName},#{updateTime},'预留','预留'
		from DUAL
		where not exists(
			select cno from db_course
		    where db_course.cno = #{cno}
		)
	</insert>
	
	<!-- 删除课程 -->
	<delete id="deleteCourse" parameterType="String">
        delete
		from db_course
		where db_course.cno = #{cno};
    </delete>
	
	<!-- 查找老师的所有课程信息 -->
	<select id="findCourseByTeacherTno" resultType="Course" parameterType="String">
		select *
		from db_course
		where db_course.tno = #{tno};
	</select>

	<!--根据课程名分页查询课程信息-->
	<select id="getAllCourse" resultType="map" parameterType="String">
		select * from db_course
		where 1 = 1
			<if test="courseName != null and courseName != ''">
				and db_course.cname like '%${courseName}%'
			</if>
			limit #{startPage},#{rows}
	</select>

	<!--为分页查询课程提供总数-->
	<select id="countCourse" resultType="int">
		select count(*) from db_course
	</select>
	
	<!--为分页查询课程提供总数-->
	<select id="countVagueCourse" resultType="int" parameterType="String">
		select count(*) from db_course where db_course.cname like '%${courseName}%'
	</select>
	
	<!-- 学生本院老师已开课程 -->
	<select id="getOurCollegeCourse" parameterType="String" resultType="java.util.Map">
		select c.cname '课程名',c.year '开课学年',c.term '开课学期',t.tname '开课老师',t.company '老师学院'
		from db_course c,db_teacher t,db_student s
		where s.sno = #{username} and s.company = t.company and c.tno = t.tno;
	</select>
	
	<!-- 课程的详细信息 -->
	<select id="getCourseDetail" parameterType="String" resultType="java.util.Map">
		select c.*,t.*
		,(select count(*) from db_studcour sc where c.cno = sc.cno) '选课人数'
		,(select count(*) from db_work w where c.cno = w.cno) '布置作业数'
		from db_course c,db_teacher t
		where c.cno = #{cno} and c.tno = t.tno;
	</select>
</mapper>