<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xaut.mapper.CourseMapper">

    <!-- 新增课程 -->
    <insert id="addCourse" parameterType="com.xaut.entity.Course">
		insert into course
		(id, teacherid, coursename, year, term, coursetime, courseaddress,
		is_over, tablename, updatetime)
		values
		(course.id,
		 course.teacherid,
		 course.coursename,
		 course.year,
		 course.term,
		 course.coursetime,
		 course.courseaddress,
		 course.is_over,
		 course.tablename,
		 course.updatetime)
	</insert>
	
	<!-- 查找老师的所有课程信息 -->
	<select id="findCourseByTeacherTno" resultType="Course" parameterType="String">
		select *
		from db_course
		where db_course.tno = #{tno};
	</select>

	<select id="getAllCourse" resultType="list">
		select * from db_course
	</select>
</mapper>