<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xaut.mapper.TeacherMapper">

    <!-- 新增教师 -->
    <insert id="addTeacher" parameterType="com.xaut.entity.Teacher">
		insert into db_teacher
		(id, name, college, updatetime)
		values
		(student.id,
		 student.name,
		 student.college,
		 student.updatetime)
	</insert>
	
	<!-- 根据学号获得已选课程老师 -->
	<select id="getTeacherByUsername" parameterType="String" resultType="java.util.Map">
		select t.tname '教师名',t.company '所属院系',count(*) '开课数'
		from db_student s,db_course c,db_teacher t,db_studcour sc
		where s.sno = #{username} and s.sno = sc.sno and sc.cno = c.cno and c.tno = t.tno
		group by c.tno;
	</select>
	
	<!-- 根据学号获得本院老师 -->
	<select id="getCollegeTeacherByUsername" parameterType="String" resultType="java.util.Map">
		select t.tno '教工号',t.tname '教师名',t.company '所属院系'
		from db_student s,db_teacher t
		where s.sno = #{username} and s.company = t.company;
	</select>
</mapper>